<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>게시글 상세조회</title>
    <script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link href="/css/main.css" rel="stylesheet">
    <style>
        #wrap {
            margin: auto;
            width: 548px;
        }
    </style>
</head>
<body>
<div class="jumbotron" style="text-align: center;">
    <h1>게시글 상세조회</h1>
</div>

<div id="wrap">
    <div class="btn_right mt15" style="text-align: right; margin-bottom: 10px">
        <button type="button" class="btn btn-primary" onclick = "location.href = '/' ">목록보기</button>
    </div>
    <div id="container">
        <div class="inner">
            <form id="boardForm" name="boardForm">
                <table width="100%" class="table02 table-hover">
                    <colgroup>
                        <col width="20%">
                        <col width="*">
                    </colgroup>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </form>
            <div style="margin: 20px 0px 0px 20px">
            <h2 style="">댓글</h2>
            </div>
            <div class="area-write">
        <textarea class="field" placeholder="댓글을 입력해보세요" name="contents" id="contents" cols="20" autofocus
                  rows="10"></textarea>
                <!--            <button class="btn btn-danger" onclick="writePost()">작성하기</button>-->
                <img src="/images/send.png" alt="" onclick="writeComment()">
            </div>
            <div id="cards-box" class="area-read">
            </div>
        </div>
    </div>
</div>
</body>
<script>
    //댓글 쓰기
    function writeComment(){
        let param = getUrlParams();
        let contents = $("#contents").val();

        if (contents === ""){
            alert("내용을 입력해주세요.");
            $("#board_content").focus();
            return;
        }

            $.ajax({
                type     : "POST",
                url      : "/comment/" + param.id,
                data     : JSON.stringify({contents:contents}),
                contentType: 'application/json',
                success  : function(res) {
                    location.reload();
                }
            });

    }

    //쿼리스트링 찾기
    function getUrlParams() {
        let params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function(str, key, value) {
                params[key] = value;
            }
        );
        return params;
    }

    // 댓글 수정가능하게 만들기
    function editPost(edit){
        showEdits(edit);
        let contents = $(`#${edit}-contents`).text().trim();
        $(`#${edit}-textarea`).val(contents);

    }
    function showEdits(id) {
        $(`#${id}-editarea`).show();
        $(`#${id}-submit`).show();
        $(`#${id}-delete`).show();

        $(`#${id}-contents`).hide();
        $(`#${id}-edit`).hide();
    }

    //댓글 수정 서버로 보내기
    function submitEdit(id){
        let contents = $(`#${id}-textarea`).val();
        $.ajax({
            type     : "Patch",
            url      : "/comment/"+id,
            data     : JSON.stringify({contents:contents}),
            contentType: 'application/json',
            success  : function(res) {
                location.reload();
            }
        });
    }

    //댓글 삭제하기
    function deleteOne(del){
        $.ajax({
            type     : "Delete",
            url      : "/comment/"+del,
            contentType: 'application/json',
            success  : function(res) {
                location.reload();
            }
        });
    }

    window.addEventListener("load",()=>{
        let param = getUrlParams();
        // 게시글 불러오기
        $.ajax({
            type: "GET",
            url: "/post/"+param.id,
            data: {},
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let title = response[i]["title"];
                    let writer = response[i]["writer"];
                    let content = response[i]["content"];
                    let temp = `<tr>
                                    <th>제목<span class="t_red"></span></th>
                                    <td><input id="board_subject" name="board_subject" value="${title}" class="form-control" readonly/></td>
                                </tr>
                                <tr>
                                    <th>작성자<span class="t_red"></span></th>
                                    <td><input id="board_writer" name="board_writer" value="${writer}" class="form-control" readonly/></td>
                                </tr>
                                <tr>
                                    <th>내용<span class="t_red"></span></th>
                                    <td><textarea id="board_content" name="board_content"  cols="50" rows="5" class="form-control" readonly>${content}</textarea></td>
                                </tr>
                                `
                    $('#tbody').append(temp);
                }
            }
        });

        //댓글 불러오기
        $.ajax({
            type: "GET",
            url: "http://localhost/comment/"+param.id,
            data: {},
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let id = response[i]["id"];
                    let contents = response[i]["contents"];
                    let commentDate = response[i]["commentDate"];

                    let temp = `<div class="card">
                                    <!-- date/username 영역 -->
                                    <div class="metadata">
                                        <div class="date">
                                            ${commentDate}
                                        </div>
                                        <div id="${id}-username" class="username">
                                        </div>
                                    </div>
                                    <!-- contents 조회/수정 영역-->
                                    <div class="contents">
                                        <div id="${id}-contents" class="text">${contents}
                                        </div>
                                        <div id="${id}-editarea" class="edit">
                                            <textarea style="background-color: #eff2f3;" id="${id}-textarea" class="te-edit" cols="30" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <!-- 버튼 영역-->
                                    <div class="footer">
                                        <img id="${id}-edit" onclick="editPost(${id});" class="icon-start-edit" src="/images/edit.png" alt="">
                                        <img id="${id}-delete" onclick="deleteOne(${id});" class="icon-delete" src="/images/delete.png" alt="">
                                        <img id="${id}-submit" onclick="submitEdit(${id});" class="icon-end-edit" src="/images/done.png" alt="">
                                    </div>
                                </div>
                                `
                    $('#cards-box').append(temp);
                    }
                }
        });
    })
</script>
</html>