<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>게시판</title>
    <script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron" style="text-align: center">
    <h1>게.시.판</h1>
</div>
<div style="text-align: right">
<button style="margin-right: 60px; margin-bottom: 10px" type="button" class="btn btn-primary" onclick = "location.href = '/api/write' ">   글작성   </button>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col" class="text-center">제목</th>
        <th scope="col" class="text-center">작성자</th>
        <th scope="col" class="text-center">작성시간</th>
        <th scope="col" class="text-center">삭제</th>
    </tr>
    </thead>
    <tbody id="names-q1">

    </tbody>
</table>
</body>
<script>
    $(document).ready(function () {
        // if (document.location.protocol === 'https:') {
        //     document.location.href = document.location.href.replace('https:', 'http:');
        // }
        $.ajax({
            type: "GET",
            url: "/post",
            data: {},
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let id = response[i]["id"];
                    let title = response[i]["title"];
                    let writer = response[i]["writer"];
                    let content = response[i]["content"];
                    let boardDate = response[i]["boardDate"];
                    let temp = `<tr>
                                    <!--<td style="width: 30%">

                                        <a class="text-reset" href="api/board/detail?id=${id}">${title}</a>
                                    </td>
                                    -->
                                    <!-- 작성자, 작성일, 조회수 -->
                                    <td style="width: 30%; text-align: center;">

                                        <a style="color: #339af0; font-size: 30px;
 text-decoration: none;
 transition: 1s;text-shadow: 0 0 .1em, 0 0 .3em;" class="text-reset" href="api/board/detail?id=${id}">${title}</a>
                                    </td>
                                    <td style="width: 20%" class="text-center">${writer}</td>
                                    <!--<td style="width: 20%" class="text-center">${content}</td>-->
                                    <td style="width: 30%" class="text-center">${boardDate}</td>
                                    <td style="text-align: center"> <button style="margin-right: 10px" type="button" class="btn btn-primary" onclick="updateOne(${id});">수정</button><button type="button" class="btn btn-danger" onclick="deleteOne(${id});">삭제</button></td>
                                </tr>`
                    $('#names-q1').append(temp);
                }
            }
        })
    });

    function deleteOne(id){
        $.ajax({
            type     : "Delete",
            url      : "/post/"+id,
            contentType: 'application/json',
            success  : function(res) {
                location.reload();
            }
        });
    }

    function updateOne(id){
        location.href='/api/edit?id='+id

    }
</script>
</html>