<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>글쓰기</title>
    <script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <style>
        #wrap {
            margin: auto;
            width: 700px;
        }
    </style>
</head>
<body>
<div class="jumbotron"  style="text-align: center">
    <h1>게시판 글수정</h1>
</div>
<div id="wrap">
    <div id="container">
        <div class="inner">
            <div>
            <h2>게시글 수정</h2>
            </div>
            <form id="boardForm" name="boardForm">
                <table width="100%" class="table02 table-hover">
                    <colgroup>
                        <col width="20%">
                        <col width="*">
                    </colgroup>
                    <tbody id="tbody">
                    <tr>
                        <th>제목<span class="t_red"></span></th>
                        <td><input id="board_subject" name="board_subject" value="" class="form-control"/></td>
                    </tr>
                    <tr>
                        <th>작성자<span class="t_red"></span></th>
                        <td><input id="board_writer" name="board_writer" value="" class="form-control"/></td>
                    </tr>
                    <tr>
                        <th>내용<span class="t_red"></span></th>
                        <td><textarea id="board_content" name="board_content" cols="100" rows="5" class="textarea01"></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div class="btn_right mt15">
                <button type="button" class="btn btn-primary" onclick = "location.href = '/' ">목록으로</button>
                <button type="button" class="btn btn-primary" onclick="javascript:edtBoard();">수정하기</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    window.addEventListener("load",()=> {
        // if (document.location.protocol === 'https:') {
        //     document.location.href = document.location.href.replace('https:', 'http:');
        // }
        let param = getUrlParams();
        // 게시글 불러오기
        $.ajax({
            type: "GET",
            url: "/post/" + param.id,
            data: {},
            success: function (response) {

                    console.log(response);
                    let title = response["data"][0]["title"];
                    let writer = response["data"][0]["writer"];
                    let content = response["data"][0]["content"];
                    $("#board_subject").val(title);
                    $("#board_writer").val(writer);
                    $("#board_content").val(content);
                }

        });
    })

        $(document).ready(function () {

        });

        //쿼리스트링 찾기
        function getUrlParams() {
            let params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                function(str, key, value) {
                    params[key] = value;
                }
            );
            return params;
        }

        /** 게시판 - 목록 페이지 이동 */
        function goBoardList() {
            location.href = "/board/boardList";
        }

        /** 게시판 - 작성  */
        function edtBoard() {
            let param = getUrlParams();

            let title = $("#board_subject").val();
            let writer = $("#board_writer").val();
            let content = $("#board_content").val();



            if (title == "") {
                alert("제목을 입력해주세요.");
                $("#board_subject").focus();
                return;
            }

            if (writer == "") {
                alert("저자를 입력해주세요.");
                $("#board_content").focus();
                return;
            }

            if (content == "") {
                alert("내용을 입력해주세요.");
                $("#board_content").focus();
                return;
            }

            console.log("title"+title+"writer"+writer+"content"+content);
            $.ajax({
                type: "PATCH",
                url: "/post/" + param.id,
                data: JSON.stringify({"title": title, "writer": writer, "content": content}),
                contentType: 'application/json',
                success: function (res) {
                    location.href = '/';
                },
                error: function (err) {
                    alert("등록 실패");
                }

            });
        }


</script>
</body>
</html>